@{
    ViewData["Title"] = "Moto 360 3rd Gen";
}
<link rel="stylesheet" href="/css/HomeStyle.css">
<body>
    <div>
        <div class="background"></div>

        <div class="text-center">
            <div class="block">
                <div class="text">
                    <img class=" padd_text display-1 " src="/images/LogoM.png" alt="Зображення">
                    <h5 class="font_h5 display-4 text_bold white_text">Everything you need </h5>
                    <h5 class="font_h5 display-4 text_bold white_text">for your needs</h5>
                </div>

                <img id="scrolling-image" src="/frames/output(video-cutter-js.com)_000.jpg" alt="Зображення">
            </div>
            <div class="text-center">
                <div class="text">
                    <div class="container">
                        <div class="row " >
                            <div class="col-5 ">
                                <!-- Adjusted column width -->
                                <div>
                                    <h4 class="padd_desc text_bold white_text">The best among the best</h4>
                                    <h5 class="font_h5 display-4 text_bold white_text">
                                        Moto 360 3rd Gen
                                    </h5>
                                </div>
                                <div>
                                    <h4 style="margin-top: 10%" class=" text_bold white_text" >The new Moto 360 Smart watch - meticulously designed, premium engineering, Wear OS by Google for Android and iPhone support. - Named the ""best looking smartwatch you can get right now"" - PCMag</h4>
    
                                </div>
                            </div>
                            <div class="col-7 image-container marg-img">
                                <!-- Adjusted column width -->
                                <img src="/images/right_side2.png" alt="Зображення" class=" right_column">
                            </div>

                        </div>
                    </div>
                </div>
            </div>


            <div class="block_black " style="margin-top: 150px">
                <div class="container marg_left">
                    <div class="row ">
                        <div class="col-md-3  ">
                            <!-- Adjusted column width -->
                            <div>
                                <h1 class="  marg_top_sm text_bold white_text">Exceptional design and durability</h1>
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-7 ">
                            <!-- Adjusted column width -->
                            <h5 class=" text_bold gray_text" style="margin-top: 100px">Moto 360, this third generation smartwatch features a premium stainless steel curved case in three finishes, and increased responsiveness and performance using the latest Snapdragon Wear 3100 with 1GB RAM.</h5>
                        </div>
                    </div>
                </div>
                <div class="row marg_left " style="margin-top: 20px; margin-right: 10%;">
                    <div class="col-md-4 ">
                        <!-- Adjusted column width -->
                        <div>
                            <h2 class="  marg_top_sm text_bold white_text">Fast Full Charge in Just 60 Minutes</h2>
                            <h5 class="  marg_top_mm  gray_text">With cutting edge optimization the Moto 360's battery is fully charged in 60 minutes</h5>
                        </div>
                    </div>
                    <div class="col-md-4 ">
                        <!-- Adjusted column width -->
                        <h2 class="  marg_top_sm text_bold white_text">All the apps you love now on your watch</h2>
                        <h5 class="  marg_top_mm  gray_text">Google Pay, WhatsApp, Messenger, Uber, Tinder, Shazam, Google music, Spotify, Google Maps, Google Assistant and hundreds more.</h5>
                    </div>
                    <div class="col-md-4 ">
                        <!-- Adjusted column width -->
                        <h2 class="  marg_top_sm text_bold white_text">Your Well-Being Matters</h2>
                        <h5 class=" marg_top_mm gray_text  white_text">Features designed to help support you achieve your life goals. Take a moment to meditate with the Calm app or be mindful of your food and water intake with the Lifesum App. Prioritize your mental and physical health.</h5>
                    </div>

                </div>
                <img src="/images/watch_photo5.png" alt="Зображення" class="img_new">

            </div>

            <div class="text" style="margin-top: 1500px">
                <div class="container">
                    <div class="row justify-content-md-center">
                        <div class="col col-lg-3">
                            <div class="text-container">
                                <h1 class="textLabel1 padd_desc text_bold white_text"><img src="/images/icon1.png" alt="1"> Battery </h1>
                            </div>
                            <div class="hidden-container" onmouseover="textMouseOver('.hiddenLabel1', '.textLabel1')" onmouseout="resetTextPosition('.hiddenLabel1',  '.textLabel1')">
                                <h5 class="hiddenLabel1  text_bold white_text">
                                    The autonomy of the watch is 2 days with average use (notifications, several built-in applications, Google Fit activity tracking). 
                                </h5>
                            </div>
                        </div>
                        <div class="col col-lg-3">
                            <div class="text-container">
                                <h1 class="textLabel2 padd_desc text_bold white_text"><img src="/images/icon2.png" alt="2"> Sport </h1>
                            </div>
                            <div class="hidden-container" onmouseover="textMouseOver('.hiddenLabel2',  '.textLabel2')" onmouseout="resetTextPosition('.hiddenLabel2',  '.textLabel2')">
                                <h5 class="hiddenLabel2  text_bold white_text">
                                    Google Fit on Moto 360 has the ability to fully automatically track your workout: just turn on automatic workout tracking and that's it!
                                </h5>
                            </div>
                        </div>
                        <div class="col col-lg-6">
                            <div class="text-container">
                                <h1 class="textLabel3 padd_desc text_bold white_text">
                                    <img src="/images/icon3.png" alt="3"> Contactless payment
                                </h1>
                            </div>
                            <div class="hidden-container" onmouseover="textMouseOver('.hiddenLabel3',  '.textLabel3')" onmouseout="resetTextPosition('.hiddenLabel3',  '.textLabel3')">

                                <h5 class="hiddenLabel3  text_bold white_text">
                                    Google Pay payment is launched with a single press of the power key.
                                    The manufacturer claims that the NFC module has become more powerful, which has led to the fact that the terminal responds to payments even at a distance of more than 5 cm and at different angles.
                                    </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="background_image_2 padd_desc ">

                <div class="text-block top-left">
                    <h1 class="text_bold text-area">Convenient interface</h1>
                </div>

                <div class="text-block bottom-right">
                    <h1 class="text_bold text-area">All the necessary information is directly in your watch</h1>
                </div>

            </div>

            <div class="background_white padd_desc ">
                <div class="text">

                    <div class="container">
                        <div class="row">
                            <div class="col-3">
                                <!-- Adjusted column width -->
                            </div>
                            <div class="col-2 right_column">
                                <!-- Adjusted column width -->
                            </div>

                        </div>
                    </div>
                </div>

                <div class="circle"></div>
                <div class="text-center" style="margin-top: 200px">

                    <div class="text" style="overflow: hidden;  padding-bottom: 150px">
                        <div class="container">
                            <div class="row ">
                                <div class="col-5">
                                    <!-- Adjusted column width -->
                                    <div>
                                        <h4 class="padd_desc text_bold white_text">A choice for everyone</h4>
                                        <h5 class="font_h5 display-4 text_bold white_text">Unique designs</h5>
                                    </div>
                                    <div>
                                        <h4 class="new_padd text_bold white_text">The build quality and design of the Moto 360 is pretty premium. It's circular, stainless steel, and comes in three colors: <label for="radio1"><font color="brown" value="0">Rose Gold</font></label>, <label for="radio2" value="1"><font color="gray">Steel Gray</font></label>, and <label for="radio3" value="2"><font color="black" class="text-outline">Phantom Black</font></label>.</h4>
                                    </div>

                                </div>
                                <div class="col-2 "></div>
                                <div class="col-2">
                                    <label for="radio1"><img class="circle-watch" value="0" src="/images/image_button3.png" alt="0"></label>
                                    <label for="radio2"><img class="circle-watch" value="1" src="/images/image_button2.png" alt="1"></label>
                                    <label for="radio3"><img class="circle-watch" value="2" src="/images/image_button1.png" alt="2"></label>
                                </div>

                            </div>
                        </div>
                        <div class="container" style="margin-top:20px; po">

                            <div class="row">
                                <div class="col-md-2">
                                    <label class="image-button">
                                        <input id="radio1" type="radio" name="image" value="image1" checked onclick="updateIndicatorLine('#FFA500', 0)">
                                        <img src="/images/image_button3.png" alt="Image 1">
                                        <div class="indicator-line"></div>
                                    </label>
                                </div>
                                <div class="col-md-2">
                                    <label class="image-button">
                                        <input id="radio2" type="radio" name="image" value="image2" onclick="updateIndicatorLine('#00FF00', 1)">
                                        <img src="/images/image_button2.png" alt="Image 2">
                                        <div class="indicator-line"></div>
                                    </label>
                                </div>
                                <div class="col-md-2">
                                    <label class="image-button">
                                        <input id="radio3" type="radio" name="image" value="image3" onclick="updateIndicatorLine(' #FF00FF', 2)">
                                        <img src="/images/image_button1.png" alt="Image 3">
                                        <div class="indicator-line"></div>
                                    </label>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="background_white2 ">

                    <div class="text" style="overflow: hidden;  padding-bottom: 150px; margin-left: 0px;">
                        <div class="container">
                            <div class="row ">
                                <div class="col-7">
                                    <!-- Adjusted column width -->
                                    <div>
                                        <h4 class=" text_bold " style="padding-top: 100px">The Moto Watch 360 3rd Gen</h4>
                                        <h5 class="font_h5 text_bold "> Unleash the power of connectivity right from your wrist.</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="image-container">
                            <img value="0" src="/images/watch_photo3_.png" alt="0">
                        </div>


                        <div class="container" style="margin-top: 3%;">
                            <div class="row ">
                                <div class="col-6 ">
                                    <!-- Adjusted column width -->
                                    <div class="new_text_block  ">
                                        <h1 class="text_bold">Sync seamlessly with your smartphone and never miss a beat with the Moto Watch 360 3rd Gen.</h1>
                                    </div>

                                </div>

                            </div>
                        </div>

                        <div class="container block_white_2" style=" left:-2%; margin-top: 150px">

                            <div class="block_white " style="overflow: clip; ">
                                <div class="container marg_left">
                                    <div class="row " style="padding-bottom: 50px">
                                        <div class="col-md-4  " style="overflow: clip; " >
                                            <img class="blockWhiteImage1" src="/images/watch_photo8.png" alt="Image 3">
                                        </div>

                                        <div class="col-5 ">
                                            <!-- Adjusted column width -->
                                            <h1 class=" font_h5 marg_top_sm text_bold ">Features</h1>
                                            <h5 class=" text_bold gray_text" style="margin-top: 80px">The Moto 360 (3rd Gen) ticks most of the essentials for a smartwatch. Stay in control with the Moto Watch 360 3rd Gen, featuring seamless integration with your favorite apps and devices.<br>You’ve got an Accelerometer, Gyroscope, Barometer, and Heart-Rate Monitor. The watch is water-resistant for 3 ATM. Also included are GPS, which can be used to track your running, and NFC, which means this can be used for Google Pay.</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="row ">
                                <div class="col-6 ">
                                    <div class="block_white_short marg_top_sm" style="overflow: clip;  ">
                                        <div class="container " style="margin-bottom: 50px">
                                            <h1 style="padding-top: 40px; text-align: center" class="  marg_top_sm text_bold ">Classic design is everything</h1>

                                            <div style="width: 90%; margin-left: 5%">
                                                <h5 class=" text_bold gray_text" style="margin-top: 80px">  The device is designed with a clear focus on traditional design: solid stainless steel, watch industry favorite PVD/DLC coating (depending on color), titanium screws, as well as two keys, one of which rotates tactilely (similar to a winding mechanism) and is used to interface management in the system. All this sounds good, of course, but how are things in reality?</h5>
                                            </div>
                                            <img src="/images/watch_photo10.png" alt="Image 10">
                                        </div>
                                    </div>

                                </div>

                                <div class="col-6 ">
                                    <div class="block_black_short marg_top_sm" style="overflow: clip; ">
                                        <div class="container " style="margin-bottom: 50px">
                                            <h1 style="padding-top: 40px; text-align: center" class="  marg_top_sm text_bold ">Watch as part of <br> a smart home</h1>
                                            <div style="width: 90%; margin-left: 5%">
                                                <h5 class=" text_bold gray_text" style="margin-top: 80px">
                                                    Moto 360 can be used to control smart home. For example, one touch of the watch screen opens the door lock. In my daily use, this has resulted in me no longer carrying a key with me: you can always open the door with a command from the watch, even when there is no internet or smartphone connection.<br> Many will ask a quite reasonable question: why powerful hardware for smartwatches? After all, to display notifications, a low-power chipset with a few MB of memory is enough.
                                                    The answer lies on the surface: for data processing and full-fledged applications. Telegram, Viber, Strava, Google Maps, and a huge number of applications from the Play Market. Their fast work requires powerful hardware, and here it is justified.
                                                </h5>
                                            </div>
                                            <div class="row ">
                                                <div class="col-6 ">
                                                    <img src="/images/watch_photo12.jpeg" alt="Image 11">

                                                </div>

                                                <div class="col-6 ">
                                                    <img src="/images/watch_photo11.jpeg" alt="Image 12">

                                                </div>

                                            </div>
                                        </div>

                                    </div>


                                </div>
                            </div>

                            <div class="block_white background_image_3" style="overflow: clip; background-color: black; max-height: 50vh">
                                <div class="container marg_left ">
                                    <div class="row " style="padding-bottom: 50px">
                                        <div class="col-md-4  ">
                                        </div>

                                        <div class="col-7 ">
                                            <!-- Adjusted column width -->
                                            <h4 class="  marg_top_sm text_bold text-white">Ultimate Fitness Companion</h4>
                                            <h5 class=" text_bold gray_text " style="margin-top: 20px">Take charge of your health and wellness with the Moto Watch 360 3rd Gen's comprehensive fitness tracking and monitoring tools. </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

        </div>



    </div>
    <div class="lastDiv">
        <h5 class="font_h5 display-4 text_bold white_text">For your needs</h5>
    </div>

</body>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/homeBack.js"></script>
<script src="/js/HomeMainFunc.js"></script>

<script>
    window.addEventListener('scroll', function () {
        var topLeftBlock = document.querySelector('.top-left');
        var bottomRightBlock = document.querySelector('.bottom-right');

        var mainText = document.querySelector('.new_text_block');



        if (isInViewport(topLeftBlock) && !topLeftBlock.classList.contains('show')) {
            topLeftBlock.classList.add('show');
        }

        if (isInViewport(bottomRightBlock) && !bottomRightBlock.classList.contains('show')) {
            bottomRightBlock.classList.add('show');
        }

        if (isInViewport(mainText)) {
            mainText.classList.add('show');

        }
    });

    function isInViewport(element) {
        var rect = element.getBoundingClientRect();

        return (
            rect.top >= 0 &&
            rect.left >= 0 &&
            rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
            rect.right <= (window.innerWidth || document.documentElement.clientWidth)
        );

    }
</script>



<script>
    document.addEventListener("DOMContentLoaded", function () {
        var videoSection = document.getElementById("video-section");
        var video = document.getElementById("fullscreen-video");

        var isVideoPlaying = false;
        var isVideoFullscreen = false;

        function playVideo() {
            if (!isVideoPlaying) {
                video.play();
                isVideoPlaying = true;
            }
        }

        function pauseVideo() {
            if (isVideoPlaying) {
                video.pause();
                isVideoPlaying = false;
            }
        }

        function handleFullscreenChange() {
            if (document.fullscreenElement) {
                isVideoFullscreen = true;
                playVideo();
            } else {
                isVideoFullscreen = false;
                pauseVideo();
            }
        }

        document.addEventListener("scroll", function () {
            var videoSectionRect = videoSection.getBoundingClientRect();
            var viewportHeight = window.innerHeight;

            // Check if the video section is in the viewport
            if (
                videoSectionRect.top >= 0 &&
                videoSectionRect.bottom <= viewportHeight
            ) {
                // If the video is not in fullscreen and not already playing, play the video
                if (!isVideoFullscreen && !isVideoPlaying) {
                    playVideo();
                }
            } else {
                // If the video is not in fullscreen and playing, pause the video
                if (!isVideoFullscreen && isVideoPlaying) {
                    pauseVideo();
                }
            }
        });

        document.addEventListener("fullscreenchange", handleFullscreenChange);
    });
</script>
